<h1><strong>Send me an Email</strong>:</h1>
<br/>

<%= form_with(model: @contact_message, url: contact_messages_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_message_name %>
  </div>

  <br/>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :contact_message_email %>
  </div>

  <br/>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :contact_message_subject %>
  </div>

  <br/>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :contact_message_body %>
  </div>

  <div class="actions">
    <%= form.submit "Send Message", class: 'custom-link' %>
  </div>
<% end %>

<hr>

<h2>Messages:</h2>

<br/>

<ul>
  <% @contact_messages.each do |message| %>
    <li>
      <h3><%= message.name %></h3>
      <p><strong>Email:</strong> <%= message.email %></p>
      <p><strong>Subject:</strong> <%= message.subject %></p>
      <p><strong>Body:</strong></p>
      <p><%= message.body %></p>
    </li>

      <h><strong>Comments:</strong></h>
      <br/>
      <ul>
      <% message.comment.each do |comment| %>
          <li><%= comment.body %></li>
      <% end %>
      </ul>
    <br/>

    <%= render partial: 'contact_messages/form', locals: { contact_message: message} %>

    <hr>
  <% end %>
</ul>
