<h1><strong>Send me an Email</strong>:</h1>

<%= form_with(model: @contact_message, url: contact_messages_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_message_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :contact_message_email %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :contact_message_subject %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :contact_message_body %>
  </div>

  <div class="actions">
    <%= form.submit "Send Message" %>
  </div>
<% end %>
